/*


!.gitignore
!.wezterm.lua
!README.md




!*/.config/code-flags.conf
!*/.config/dolphinrc
!*/.config/electron-flags.conf
!*/.config/electron19-flags.conf
!*/.config/electron25-flags.conf
!*/.config/hypr/*
!*/.config/paru/*

.config/microsoft-edge
.config/nvim


.cache
.cargo
.local
Documents
paru
