*
!*/

!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
!.profile
!.wezterm.lua
!.zshenv
!.zshrc
!README.md


!bin/*


!.config/

!.config/autostart/*
!.config/Code/User/settings.json
!.config/code-flags.conf
!.config/dunst/*
!.config/dolphinrc
!.config/electron-flags.conf
!.config/electron19-flags.conf
!.config/electron25-flags.conf
!.config/fish/*
!.config/hypr/*
!.config/kwalletmanager5rc
!.config/kwalletrc
!.config/paru/*
!.config/waybar/*

.config/chromium
.config/microsoft-edge
.config/nvim
.config/google-chrome


.local

!.local/share/fonts/*

.local/share/fish
.local/share/nvim
.local/share/recently-used.xbel

.local/pkgs
.local/state


.asdf
.cache
.cargo
.dotnet
.nuget
.steam
.vscode
.vscode-oss
Documents
Downloads
Projects
go
xone
